.pad{
    padding-top: 22%;
    padding-left: 10%;
    
}
.paddd{
    padding-top: 17%;
}

.text-color{
    color: rgb(199, 19, 145);
    font-size: 60px;
}

.btn{
    background-color: rgb(199, 19, 145);
    color: white;
}
.bg-img{
    background-image: url("img/header-bg.png");
}
.bg-img-1{
    background-image: url("img/biography-bg.png");
}
.padd{
    padding: 60px;
}
.design{
    text-align: center;
    padding-top: 60px;
}
.bg{
    background-color: chartreuse;
    color: white;
    padding: 20px;
}
.pi{
    padding-bottom: 5%;

}
.bg-3{
    background-image: url(img/footer-bg.png);
}
